.cookie-banner{
	width: 100%; 
	position: absolute;
	left: 0px;
	top: 0px;
	z-index:1;
	/*min-height:200px;*/
	background-color:#37444d;
	color:white;
	font-family: Arial;
}

.cookie-banner-head{
	min-height:50px;
	background-color:#37444d;
	color:white;
	font-size:14px;
	padding:10px;
}

.cookie-banner-head-content{
	float:left;
	width: 70%; 
}

div.cookie-banner-head-content div{
	padding:3px;
	font-size:13px;
}

.cookie-banner-head-logo{
	float:right;
	width: 30%; 
}
.cookie-banner-head-link{
	float:right;
}

div.cookie-banner-head-link a{
	color:#ea7d1c;
	font-family: Arial;
	font-size:11px;
}


#cookie-info{
	background-color:white;
	margin: 10px;
	font-size:13px;
	font-family: Arial;
}

#cookie-title{
	font-size:13px;
	font-family: Arial;
}

img.cookie_logo{
	float:right;
}

.cookie-banner-body{
	min-height:100px;
	background-color:#999;
	color:white;
	font-size:14px;
	overflow:auto;
	padding:10px;
}

.cookie-banner-body-message{
	color:white;
	font-size:13px;
	float:left;
	padding:10px;
}

.cookie-banner-body-left{
	color:white;
	font-size:14px;
	width: 20%; 
	float:left;
}


.cookie-banner-body-right{
	background-color:white;
	color:black;
	font-size:14px;
	width: 80%; 
	float:right;
	border-radius:10px;
}

.cookie-menu{
	border-radius:5px;
	color:#ea7d1c;
	margin: 5px;
	padding-left: 10px;
	padding-top: 2px;
	cursor: pointer;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000), color-stop(1, #555) );
	background:-moz-linear-gradient( center top, #000 5%, #555 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#555');
	background-color:#000;

	}.cookie-menu:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #555), color-stop(1, #000) );
		background:-moz-linear-gradient( center top, #555 5%, #000 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#555', endColorstr='#000');
		background-color:#555;
		font-weight:bold;
	}
	
	.cookie-menu.active{
		font-weight:bold;
	}

	.btn-accept {
		background-color:#ea7d1c;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ea7d1c), color-stop(1, #e14a21) );
		background:-moz-linear-gradient( center top, #ea7d1c 5%, #e14a21 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea7d1c', endColorstr='#e14a21');
		border-radius:6px;
		border:1px solid #e14a21;
		display:inline-block;
		color:white;
	  font-family: Arial;
		font-size:15px;
		font-weight:bold;
		padding:2px 4px;
		}.btn-accept:hover {
			background-color:#e14a21;
			background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e14a21), color-stop(1, #ea7d1c) );
			background:-moz-linear-gradient( center top, #e14a21 5%, #ea7d1c 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e14a21', endColorstr='#ea7d1c');
			}.btn-accept:active {
				position:relative;
				top:1px;
			}
