<!DOCTYPE html>
<html>
<head>
  <title>CookieManagement</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<script>

var cookie_banner = new CookieBanner();
cookie_banner.create({
	//logo: 'http://www.aemedia.com/img/footer-logo.png',
  logo: '/assets/posterscope.jpg',
  banner_head_text: 'Posterscope would like to use cookies to store information on your computer, this will improve your browser experience on this website. Indeed Cookies are essential for certain areas of the site to operate correctly and therefore, the initial entry has been set.',
  banner_body_text: 'Cookies are files stored in your browser and are used by most websites to help personalise your web experience. Some features on this site will not function if you do not allow cookies. Click each category for more information on the cookies this website uses. Or click \'Allow Cookies\' to enable cookies and remove this message.',
  banner_message: 'I accept cookies from this site.',
  link_pretext: 'Please click',
  link_text: 'here',
  link_posttext: 'to view the type of cookies used on this website.',
  info: [
    {title: "Compliance Cookie", 
      description: "These cookies are used to enable core site functionality. They do not contain any personal information and are automatically deleted when you close your browser.",
      cookies: {'cookies_used':['temp']}},
		
    {title: "Analytics Cookies", 
      description: "These cookies allow us to count page visits and traffic sources so we can measure and improve the performance of our site, using a service provided by Google Analytics.", 
      cookies: {'cookies_used':['__utma','__utmb','__utmc','__utmz']}} ,
  
    {title: "Third Party Cookies", 
      description: "We use a number of social media tools to enhance visitor interaction on our site. If you already use these platforms their cookies may be set through our website. Data may then be collected by these companies that enables them to serve up adverts on other sites that they think are relevent to your interests. If you do not use such platforms then our site will not place these cookies on your device.", 
      cookies: {
        'Twitter Cookies':["ab_sess_search_relevance_ranked_hits_189", " dnt", " t1", " auth_token_session", " secure_session", " twll", " twid", " ab_sess_wtf_user_to_user_rec_155", " ab_sess_search_relevance_social_167", " ab_sess_t1_actions_156", " __utmc", " __utmv", " __utmb", " __utma", " __utmz", " _twitter_sess", " _twitter_sess", " ab_sess_activity_ddg_126", " ab_sess_activity_up_top_98", " ab_sess_promoted_arrows_and_pills_78", " ab_sess_Relevance_V1-49", " _sm_au_d", " auth_token", " external_referer", " guest_id", " k", " lang", " original_referer", " pid"],
        'Facebook Cookies':["u", " L", " L", " datr", " e", " c_user", " c_user", " presence", " sct", " sct", " _sm_au_d", " act", " _e_bWDI_21", " _e_bWDI_22", " _e_bWDI_23", " _e_bWDI_24", " _e_CTMK_0", " _e_CTMK_1", " _e_CTMK_2", " _e_e6Yv_0", " _e_e6Yv_1", " _e_e6Yv_2", " _e_0ITr_10", " wd", " x-referer", " xs", " xs", " reg_ext_ref", " reg_fb_gate", " reg_fb_ref", " reg_ext_ref", " reg_fb_gate", " reg_fb_ref"]
        }},
  
    {title: "Functional Cookies", 
      description: "These cookies are used to enable core site functionality. They do not contain any personal information and are automatically deleted when you close your browser.", 
      cookies: {'Cookies used': ['ASP.NET_SessionId']}},
        ]
});
cookie_banner.render();
</script>

</body>
</html>
